body {
    font-optical-sizing: auto;
    background-color: #b4bfc0;
    font-style: normal;
    min-height: 100vh;
}
.container {
    margin-left: 20px;
    padding: 22px;
    max-width:400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, 
    rgb(249, 38, 108) 0%, palevioletred 63%, palevioletred  53%, #eaa3ee 100%);
    background-color: #eaa3ee;
}
.card-text {
    max-width:609px;
    width: 100%;
    margin-left: 50px;
    display: block;
}
.card-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}
input {
    cursor: text;
    margin-bottom: 20px;
    outline: 0px;
    border: none;
    border-bottom: solid 1px white;
    background: transparent;
    background-color: inherit;
    color: wheat;
    font-size: 18px;
}
::placeholder {
    color: wheat;
}
label {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    cursor: pointer;
}
button {
    border: solid;
    margin: 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: palevioletred;
    color: aliceblue;
    font-size: 18px;
    max-width: 202px;
    width: 100%;
    max-height: 48px ;
    height: 100%;
    border-radius: 40px;
    cursor: pointer;
}
button:hover {
    background-color: #b4bfc0;
}
.roboto-uniquifier {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}