body {
  font-optical-sizing: auto;
  background-color: #b4bfc0;
  font-style: normal;
  min-height: 100vh;
}

.container {
  margin-left: 20px;
  padding: 22px;
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgb(249, 38, 108)), color-stop(63%, palevioletred), color-stop(53%, palevioletred), to(#eaa3ee));
  background: linear-gradient(to right, rgb(249, 38, 108) 0%, palevioletred 63%, palevioletred 53%, #eaa3ee 100%);
  background-color: #eaa3ee;
}

.card-text {
  max-width: 609px;
  width: 100%;
  margin-left: 50px;
  display: block;
}

.card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

input {
  cursor: text;
  margin-bottom: 20px;
  outline: 0px;
  border: none;
  border-bottom: solid 1px white;
  background: transparent;
  background-color: inherit;
  color: wheat;
  font-size: 18px;
}

::-webkit-input-placeholder {
  color: wheat;
}

::-moz-placeholder {
  color: wheat;
}

:-ms-input-placeholder {
  color: wheat;
}

::-ms-input-placeholder {
  color: wheat;
}

::placeholder {
  color: wheat;
}

label {
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}

button {
  border: solid;
  margin: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: palevioletred;
  color: aliceblue;
  font-size: 18px;
  max-width: 202px;
  width: 100%;
  max-height: 48px;
  height: 100%;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #b4bfc0;
}

.roboto-uniquifier {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: sans-serif;
  background-color: rgb(34, 33, 33);
  margin: 0px;
}

p, h3 {
  color: rgb(251, 239, 216);
}

.topnav {
  overflow: hidden;
  background-color: #eaa3ee;
  border-bottom: solid 5px palevioletred;
}

.topnav a {
  float: left;
  display: block;
  color: #f1dbf3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

.topnav a:hover {
  background-color: palevioletred;
  color: rgb(249, 38, 108);
}

.topnav a.active {
  background-color: rgb(211, 57, 109);
}

.topnav .icon {
  display: none;
}

.info {
  padding-left: 14px;
  color: rgb(251, 239, 216);
  max-width: 800px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}